
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
    </style>
    <div style="text-align: center;max-width: 400px;padding: 20px;background-color: #fff;border-radius: 8px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="font-size: 65px; color: #e74c3c;">&#128274;</div>
        <!-- <div style="font-size: 65px;" >&#10084;</div> -->
        <div style=" margin-top: 20px;font-size: 18px;color: #333;">This site is locked.<br>Please contact the  developers to <br>renew your authority on the site.<br><br><a href="">Hamad-Mohammad-Sultan@UOK.com</a></div>
    </div>
