<!DOCTYPE html>
<html>

    <head>
        <title>Taking Out Material</title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<!-- <title>Store</title> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Neumorphism UI">
<meta name="author" content="Themesberg">

<link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

<!--  Social tags -->
<meta name="keywords" content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
<meta name="description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Neumorphism UI by Themesberg">
<meta itemprop="description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
<meta itemprop="image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@themesberg">
<meta name="twitter:title" content="Neumorphism UI by Themesberg">
<meta name="twitter:description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
<meta name="twitter:creator" content="@themesberg">
<meta name="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="Neumorphism UI by Themesberg" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/" />
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg"/>
<meta property="og:description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages." />
<meta property="og:site_name" content="Themesberg" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="./assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

    </head>
    <body> 
        <header class="header-global">
            <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
                <div class="container position-relative">
                 
                    <div class="navbar-collapse collapse" id="navbar_global">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <a href="./index.html" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                        <img src="./assets/img/brand/dark.svg" alt="Themesberg logo">
                                    </a>
                                </div>
                                <div class="col-6 collapse-close">
                                    <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                           
                            <li class="nav-item dropdown ">
                                <a class="nav-link" data-toggle="dropdown" >
                                    <span class="nav-link-inner-text">Material</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <div class="dropdown-menu">
                                   
                                     
                                       
                                            <ul class="list-style-none">
                                                <li><form action="/taking_out_material_employee/" method="post">
                                                    <input type="hidden" name="warehouse_id" value="{{ warehouse_id }}">
                                                    <input type="hidden" name="employee_code" value="{{ employee_code }}">

                                                    <button class="dropdown-item" type="submit" >
                                                      Taking Out Materaial
                                                    </button>
                                                </form></li>
                                                <li><form action="/add_material_employee/" method="post">
                                                    <input type="hidden" name="warehouse_id" value="{{ warehouse_id }}">
                                                    <input type="hidden" name="employee_code" value="{{ employee_code }}">

                                                    <button class="dropdown-item" type="submit" >
                                                      Entering Material
                                                    </button>
                                                  </form>
                                                </li>
                                                
                                                
                                               
                                            </ul>
                                        
                                       
                            </li>
                           
                        </ul>
                    </div>
                   
                </div>
            </nav>
        </header>
        <main>
        <section class="min-vh-100 d-flex bg-primary align-items-center" style="padding-top: 5%;">
            <div class="container">
                <div class="row justify-content-center">
                    <div >
                        <div class="card bg-primary shadow-soft border-light p-4">
                            <div class="card-header text-center pb-0">
                                <h1  
                                    style="background-color: rgb(82, 82, 123);border-radius: 25cm; color: white;">
                                    <pre style="background-color: rgb(82, 82, 123);border-radius: 25cm; color: white;">         Expulsion Material         </pre>
                                </h1>  
                            </div>
                            <div class="card-body">
                                    <form action="/add_to_bill_employee/" method="post">
                                        <div id="div1" style="display: flex; justify-content: space-evenly;">
                                            <div style="width: 100%; display: flex; flex-direction: row;">
                                                    <div style="width: 50%;">
                                                        <input type="hidden" name="warehouse_id" value="{{ story_name.id }}">
                                                        <input type="hidden" name="employee_code" value="{{ employee_code }}">
                                                        <label for="exampleInputIcon3">Material Name</label>
    
                                                        <div>
                                                            <input style="width: 400px;" class="form-control" id="exampleInputIcon3" name="material_name" type="text" required>
                                                        </div>
                                                            <label for="exampleInputPassword6">Count</label>
                                                        <div>
                                                            <input style="width: 400px;" class="form-control" id="exampleInputIcon3" name="count" type="number" aria-label="Count" required min="1">
                                                        </div>
                                                        <div class="form-group" >
                                                            <label for="exampleInputPassword6">Count Type</label>
                                                        <select style="width: 400px;" id="countrySelect" name="count_type" class="form-control" required>
                                                            <option  disabled selected></option>
                                                            <option>Box</option>
                                                            <option>Piece</option>
                                                            <option>Meter</option>
                                                            <option>Kg</option>
                                                          </select>
                    
                                                        </div>
                                                        <div class="form-group" >
                                                            <label for="exampleInputPassword6">From Section</label>
                                                            <select style="width: 400px;" id="section" name="from_section" class="form-control" required>
                                                            <option  disabled selected></option>
                    
                                                                {% for section in from_sections %}
                                                                  <option value="{{ section.id }}"><button>{{ section.section_name }}</button></option>
                                                                {% endfor %}
                                                              </select>
                    
                                                        </div>
                                                        <div class="form-group" >
                                                            <label for="exampleInputPassword6">Shelf Number </label>
                                                        <select style="width: 400px;  overflow: scroll;" id="countrySelect"  name="shelf_number" class="form-control" size="5" required>
                                                            <!-- <option  disabled selected></option> -->
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                          
                                                          </select>
                    
                                                        </div>
                                                        
                                                          
                                                        <div class="form-group">
                                                            <label for="exampleInputIcon3" >Date</label>
                                                            <div>
                                                               
                                                                <input style="width: 400px;" class="form-control"  type="date" id="date" name="date" required>
                                                            </div>
                                                        </div>
                                                       
                                                        <button type="submit" id="1" class="btn" style="height: 80px; width: 80px; margin-top: 10px;" >
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                             </form>
                                             
                                            {% if bm %}
                                            <div style="width: 100%;margin-left: 280px;">
                                                <!-- <form method="POST" action="/save_material/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="warehouse_id" value="{{ story_name.id }}">

                                                    <select id="listBox1" style="width: 500px; height: 200px; border: 1px solid black; overflow-y: scroll;" name="selecte_list" multiple>
                                                    </select><br>
                                                    <button type="submit" name="save">Save</button>
                                                </form>
                                                <button type="button" onclick="Reset()">Reset</button>
                                                <button type="button" onclick="deletee()">Delete</button> -->

                                                <table border="2" style="width: 400px; height: 100px;border-collapse: collapse;font-size: 1rem;border-color: black;">
                                                    <tr>
                                                        <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1rem;">Name</th>
                                                        <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1rem;">Count</th>
                                                        <th></th>
                                                    </tr>
                                                {% for x in bm %}
                                                    <tr>
                                                        <td>{{x.material_name}}</td>
                                                        <td>{{x.count}}</td>
                                                        <td>
                                                            <form action="/delete_from_bill_employee/" method="post">
                                                                <input type="hidden" name="id_delete" value="{{ x.id }}">
                                                                <input type="hidden" name="warehouse_id" value="{{ story_name.id }}">
                                                                <input type="hidden" name="employee_code" value="{{ employee_code }}">

                                                                <input type="hidden" name="count_type" value="{{ count_type }}">
                                                                <input type="hidden" name="shelf_number" value="{{ shelf_number }}">
                                                                <input type="hidden" name="date" value="{{ date }}">
                                                                <input type="hidden" name="from_section" value="{{ from_section }}">
                                                                <button class="button" type="submit" style="background-color: transparent; border-radius: 20cm;border-color: blue; "> 
                                                                    ❌
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr >
                                                    <th colspan="3">
                                                        <form action="/out_bill_employee/" method="post">
                                                            <input type="hidden" name="warehouse_id" value="{{ story_name.id }}">
                                                            <input type="hidden" name="employee_code" value="{{ employee_code }}">


                                                            <button class="form-control" style="color: red; font-size: 25px;" type="submit">Out</button>
                                                        </form>
                                                    </th>
                                                </tr>
                                                </table>
                                                
                                             </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    
                                    <script>
                                        function addValuesToListBox() {
                                            var materialName = document.getElementsByName("material_name1")[0].value;
                                            var count = document.getElementsByName("count1")[0].value;
                                            var listBox = document.getElementById("listBox1");
                                            var option = document.createElement("option");
                                            // option.value=materialName;
                                            option.text =materialName + "," + count;
                                            listBox.add(option);
                                        }
                                    
                                        function Reset() {
                                            var listBox = document.getElementById("listBox1");
                                            listBox.innerHTML = '';
                                        }
                                    
                                        function deletee() {
                                            var listBox = document.getElementById("listBox1");
                                            listBox.remove(listBox.selectedIndex);
                                        }
                                    </script>
                                        
                                        
                                 <div id="div"></div>
                                    <style>table {
                                        width: 75vw;
                                        border-collapse: collapse;
                                        text-align: center;
                                        font-size: 1.5rem;
                                        border-color: black;
                                        /* height: 10vw; */
                                        
                                      }
                                      table tr:hover {
                                        background-color: lightblue;
                                      }
                                    </style>
                                    <main>
                                
                                        <!-- Hero -->
                                        <section class="section section bg-soft pb-5 overflow-hidden z-2">
                                            <div class="container z-2">
                                                <div >
                                                    <div>
                                                        <h1 style="background-color: red;border-color: blue; border-radius: 25cm; color: white; text-align: center;">{{story_name.warehouse_name}}</h1>
                                                 
                                                    
                                              
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div >
                                                        <div >
                                                            <div class="card-header text-center pb-0">
                                          <center>
                                            <br>
                                           
                                            <table border="2">
                                                <tr>
                                                  <th colspan="8">
                                                          <h1 style="background-color: rgb(82, 82, 123);border-radius: 1cm; color: white;">All Material</h1>
                                                  </th>
                                                </tr>
                                                <tr>
                                                  
                                                  <!-- <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">ID</th> -->
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Materaial Name</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Description</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Shelf Number</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Section Name</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Count</th>
                                                  <!-- <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Count Type</th> -->
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Date</th>
                                                </tr>
                          
                                                {% if mymaterial %}
                          
                                                {% for x in mymaterial %}
                                                <tr>
                                                  <!-- <td>{{ x.id }}</td> -->
                                                  <td>{{ x.material_name }}</td>
                                                  <td>{{ x.description }}</td>
                                                  <td>{{ x.shelf_number }}</td>
                                                  <td>{{ x.section_id }}</td>
                                                  <td>{{ x.count }}{{ x.count_type }}</td>
                                                  <!-- <td>{{ x.count_type }}</td> -->
                                                  <td>{{ x.date }}</td>
                                        
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                <th colspan="7" style="color: red;">Sorry the Warehouse is empty</th>
                                                {% endif %}
                                                
                                              </table>
                                              
                                            </center> 
                            <br><br>
                                          <form method="POST">
                                              <input type="hidden" name="warehouse_name" value="{{ story_name.id }}">
                                              <input type="hidden" name="warehouse_id" value="{{ story_name.id }}">
                                              <input type="hidden" name="employee_code" value="{{ employee_code }}">

                                              
                                            <div class="form-group">
                                              <div class="input-group mb-4">
                                                  <select style="border-color: blue;" id="countrySelect" name="search_field" class="form-control" required >
                                                      <option  disabled selected>Search by?</option>
                                                      <option value="material_name">Materaial Name</option>
                                                      <option value="description">Description</option>
                                                      <!-- <option value="section_id">Section Name</option> -->
                                                    </select> 
                                                    <pre>  </pre>
                                                  <input style="border-color: blue;" class="form-control" id="exampleInputIcon2" name="search_value" placeholder="Search for?" aria-label="Input group" type="text" >
                                                  <div class="input-group-append">
                                                     <button type="submit"><span class="input-group-text"><span class="fas fa-search" ></span></span>
                                                      </button>
                          
                                                  </div>
                                                  </div>
                                              </div>
                                          </form>
                                            
                          
                                          {% if filtered_materials %}
                                          <table border="2">
                                              <tr>
                                                  <!-- <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">ID</th> -->
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Materaial Name</th>
                                                  
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Description</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Shelf Number</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Section Name</th>
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Count</th>
                                                  <!-- <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Count Type</th> -->
                                                  <th style="background-color: rgb(82, 82, 123);color: white; font-size: 1.60rem;">Date</th>
                                              </tr>
                                              {% for mat in filtered_materials %}
                                              <tr>
                                                  <!-- <td>{{ mat.id }}</td> -->
                                                  <td>{{ mat.material_name }}</td>
                                                  
                                                  <td>{{ mat.description }}</td>
                                                  <td>{{ mat.shelf_number }}</td>
                                                  <td>{{ mat.section_id }}</td>
                                                  <td>{{ mat.count }}{{ x.count_type }}</td>
                                                  <!-- <td>{{ x.count_type }}</td> -->
                                                  <td>{{ mat.date }}</td>
                                              </tr>
                                              {% empty %}
                                              <tr>
                                                  <td colspan="7">No Materaials found.</td>
                                              </tr>
                                              
                                              {% endfor %}
                                          </table>
                                          {% else %}
                                          <p style="text-align: center; background-color: #F14B4B; color: white;"><h2 style="text-align: center; background-color: #F14B4B; color: white;">No matching Materaials found.</h2></p>
                                          {% endif %}
                                                  </center> 
                                                  
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                        </div>
                                        </section>  

                                    <!-- <button type="submit" class="btn btn-block btn-primary">Expulsion</button> -->
                                <!-- </form> -->
                               
                               
                           
                    </div>
                </div>
            </div>
        </section>
    </main>
   

    <!-- Core -->
<script src="../../vendor/jquery/dist/jquery.min.js"></script>
<script src="../../vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="../../vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../../vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="../../vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../../vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="../../vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/prismjs/prism.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="../../assets/js/neumorphism.js"></script>

    </body></html>