<!DOCTYPE html>
<html>

    <head>
        <title></title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<!-- <title>Store</title> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Neumorphism UI">
<meta name="author" content="Themesberg">

<link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

<!--  Social tags -->
<meta name="keywords" content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
<meta name="description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Neumorphism UI by Themesberg">
<meta itemprop="description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
<meta itemprop="image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@themesberg">
<meta name="twitter:title" content="Neumorphism UI by Themesberg">
<meta name="twitter:description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">
<meta name="twitter:creator" content="@themesberg">
<meta name="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="Neumorphism UI by Themesberg" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/" />
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg"/>
<meta property="og:description" content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages." />
<meta property="og:site_name" content="Themesberg" />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="./assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="../static/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

    </head>
    <body> 
        
        <header class="header-global">
            <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
                <div class="container position-relative">
                 
                    <div class="navbar-collapse collapse" id="navbar_global">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <a href="/index.html" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                        <img src="./assets/img/brand/dark.svg" alt="Themesberg logo">
                                    </a>
                                </div>
                                <div class="col-6 collapse-close">
                                    <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                           
                           
                    </div>
                    
                       <br><br>
                        
                       
                </div>
            </nav>
        </header>
        <style>
            .result {
                display: none;
                justify-content: center;
                align-items: center;
                height: 100vh;
                font-size: 5rem;
                font-weight: bold;
                /* background-color: #CCC; */
                background-color: rgb(82, 82, 123);
                animation: fadeIn 1s ease-in-out;
                height: 100px;
                border-radius: 0.2cm;

              }
              .container2 {
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                border-radius: 1cm;
                text-align: center;
              }
              @keyframes fadeIn {
                0% {
                  opacity: 0;
                  transform: translateY(-50px);
                  /* transform: translateZ(-50%) */
                  /* transform:translateX(-50%); */
                }
                100% {
                    
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              
              .close:hover{
                background-color: red;
                
              }
              </style>
       
        {% if result %}
                       
        <div class="container2">
            
            <div class="result" style="display:flex;">
                <h2 style="color: white; font-size: medium;">{{ result }}</h2>
               <button class="close" onclick="Close()" style="background-color: aliceblue; font-size: 2.2rem;color:rgb(82, 82, 123) ; border-radius: 10cm;border-color: blue;align-items: center; margin-left: 50px;" >Close</button>
                
            </div>
        </div>
        {% endif %} 
        <script>
            function Close()
            {
                const resultDiv=document.querySelector('.result');
                resultDiv.style.display='none';
            }
          </script>
    <br><br><br>

    <div style="background-color: red; color: white;border-radius: 25Cm; text-align: center;width: 50%;margin-left: 25%;font-size: 2.5rem;">
        <a style="color: white;" href="/view_add_warehouse/">
            <span class="icon">
                <span class="fas fa-plus" >
                    Add new warehouse
                </span>
                
            </span>
        </a>
        
        <br>
    </div><br>
    <div style="background-color: red; color: white;border-radius: 25Cm; text-align: center;width: 50%;margin-left: 25%;font-size: 2.5rem;">

        <a style="color: white" href="/select_warehouse/">
                <span class="icon">
                    <span  style="font-size: 45px;">
                        &#8644; Transfer
                    </span>
                    
                </span>
        </a>
    </div>
    </div><br><br>
    {% if Mywarehouses %}
    {% for warehouse in Mywarehouses %}
    <div style="text-align: center;">
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!--Accordion-->
                    <div class="accordion shadow-soft rounded" id="accordionExample1">
                        <div class="card card-sm card-body bg-primary border-light mb-0">
                            <form action="/CC/" method="post">
                                <a  data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                                    <span  style="background-color: rgb(82, 82, 123);border-radius: 25cm; color: white;width: 150px;font-size: 1.6rem;">{{ warehouse.warehouse_name }}</span>
                                    <input type="hidden" name="warehouse_name" value="{{ warehouse.id }}">
                                    <input type="hidden" name="admin_account_date" value="{{ admin_account_date }}">
                                    
                                    <!-- <span >Open warehouse</span> -->
                                    <style>
                                        .A{
                                            border-radius: 25cm;background-color: rgb(82, 82, 123); color: white; width: 200px;height: 30px;
                                            
                                        }
                                        .A:hover{
                                            background-color: red;
                                            color: white;
                                        }
                                    </style>
                                    <button class="A" type="submit" >Open warehouse</button>
                            </form>

                            </a>
                            <form action="/delete_warehouse/" method="post">
                                <input type="hidden" name="warehouse_name" value="{{ warehouse.id }}">
<br>
                            <button class="A" type="submit" style="margin-left: 480px;">Delete Warehouse </button>
                            </form>

                            <form action="/generate_rebort/" method="post">
                                <input type="hidden" name="warehouse_id" value="{{ warehouse.id }}">
                                <input type="hidden" name="admin_account_date" value="{{ admin_account_date }}">

<br>
                            <button class="A" type="submit" style="margin-left: 480px;">Gernerate Report</button>
                            </form>
                          
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        

            {% else %}
            {% endif %}
    <!-- {% if Mywarehouses %}
        <ul>
            {% for warehouse in Mywarehouses %}
                <li>{{ warehouse.warehouse_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>لا توجد مخازن حالياً.</p>
    {% endif %} -->
    </div>
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./vendor/headroom.js/dist/headroom.min.js"></script>
    
    <!-- Vendor JS -->
    <script src="./vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="./vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="./vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="./vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="./vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="./vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="./vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="./vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="./vendor/prismjs/prism.js"></script>
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
    <!-- Neumorphism JS -->
    <script src="./assets/js/neumorphism.js"></script>
</body>
</html>